body {
    height: 100%;
    font-family: "Lato", sans-serif;
    color: #666;
}

#background,
#imgOne,
#imgTwo {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    opacity: 0.7;
}

#background {
    background-image: url("img/image1.jpg");
    min-height: 100vh;
}

header #border,
footer #border {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
}

header h1,
footer h1 {
    font-variant: small-caps;
    letter-spacing: 5px;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
}

#secOne {
    background-color: #f4f4f4;
    color: #666;
    padding: 50px 80px;
}

#secOne h2,
p {
    line-height: 1.5em;
    text-align: center;
}

#imgOne {
    background: url("img/image2.jpg");
    min-height: 400px;
}

#secTwo {
    background-color: #282e34;
    color: #ddd;
    padding: 50px 80px;
}

#secTwo h2,
p {
    line-height: 1.5em;
    text-align: center;
}

#imgTwo {
    background: url("img/image3.jpg");
    min-height: 400px;
}

#secThree {
    background-color: #282e34;
    color: #ddd;
    padding: 50px 80px;
}

#secThree h2,
p {
    line-height: 1.5em;
    text-align: center;
}

@media(max-width:560px) {
    header #border {
        width: 70%;
        left: 15%;
    }
    #background,
    #imgOne,
    #imgTwo {
        background-attachment: scroll;
    }
}